[Unit]
Description=Edge Whisper Server
After=network.target

[Service]
Type=simple
User=ubuntu

WorkingDirectory=/home/ubuntu/edge-whisper
ExecStart=python /home/ubuntu/edge-whisper/whisper_server.py
EnvironmentFile=/home/ubuntu/edge-whisper/.env

Restart=on-failure
RestartSec=3

LimitNOFILE=655350
LimitNPROC=102400

[Install]
WantedBy=multi-user.target
